/*--- Global ---*/
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-image: url("./BACKGROUD-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--- Main ---*/
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  position: absolute;
  animation: show 9s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.logo-container img {
  width: 100%;
}
@keyframes show {
  to {
    transform: translateX(9999px);
  }
}
.linkes-container {
  text-align: center;
}
.linkes-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(192, 31, 37);
  padding: 15px 0;
  margin: auto;
  margin-top: 20px;
  width: 10em;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-size: 1.4em;
  font-weight: bold;
}
.linkes-container a p {
  margin-right: 15px;
}
.linkes-container img {
  width: 15%;
}
