/*--- Global ---*/
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- Main ---*/
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  text-align: center;
}
.logo-container a {
  display: block;
  background-color: rgb(0, 96, 223);
  padding: 15px 0;
  margin: auto;
  margin-top: 20px;
  width: 9em;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-size: 1.4em;
}
main img {
  width: 60%;
}

/*--- Footer ---*/
footer {
  padding: 60px 0;
  background-color: rgb(102, 99, 99);
  text-align: center;
  color: white;
  font-size: 1.3em;
}
footer p {
  width: 10em;
  margin: 40px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(255, 251, 251);
}

.contact-container a {
  text-decoration: none;
  font-size: 1.7em;
}

.contact-container a img {
  width: 1.7em;
  margin: 0 5px;
}

@media only screen and (max-width: 425px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-container a {
    margin: 20px 0;
  }
}
